body{
    background-color: antiquewhite;
}
.top{
    font-size: 30px;
    color: white;
    background: rgb(233,184,244);
    background: linear-gradient(126deg, rgba(233,184,244,1) 27%, rgba(38,177,249,1) 88%);
    text-align: center;
    border: none;
    margin: -8px;
}
.text{
    text-align: center;
    position: fixed;
    bottom: 40px;
    width: 100%;
    border: none;
    /*border-radius: 20px;*/
}
button{
    font-size: 30px;
    background: rgb(233,184,244);
    background: linear-gradient(126deg, rgba(233,184,244,1) 27%, rgba(38,177,249,1) 88%);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    /*border-radius: 20px;*/
}